.user_module_table
{
    border-collapse: collapse;
    min-width: 100%;
    
    margin-left: auto;
    margin-right: auto;
}

.user_module_table_container
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 2vw;
    width: fit-content;
    min-width: 90%;
    background-color: rgb(247, 244, 244);
    margin-bottom: 1vw;
}
 
.user_module_table td
{
    padding: 1vw;
}

tr:nth-child(even) 
{
    background-color: rgb(231, 114, 114);
    color: white;
}

.user-module-title
{
    padding-top: 0;
    margin-top: 0;
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-weight: bold;
    color: rgb(223, 65, 65);
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.user-create-button
{
    border: 0px;
    background-color: rgb(223, 65, 65) !important;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: medium;
}

.user-create-button:hover
{
    border: 1px solid rgb(223, 65, 65);
    background-color: white;
    cursor: pointer;
}

.small_button
{
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    background-color: white;
    border-radius: 10%;
}

.edit_button
{
    border: 1px solid rgb(223, 65, 65);
    color: rgb(223, 65, 65);
}

.delete_button
{
    background-color: rgb(223, 65, 65);
    color: white;
}


.modal-container
{
    border-radius: 5px;
    padding: 2vw;
    background-color: rgb(247, 244, 244);
}