.user_module_table
{
    border-collapse: collapse;
    min-width: 100%;
    
    margin-left: auto;
    margin-right: auto;
}

.user_module_table_container
{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 2vw;
    max-width: auto;
    min-width: 90%;
    background-color: rgb(247, 244, 244);
    margin-bottom: 1vw;
}
 
.user_module_table td
{
    padding: 1vw;
}

tr:nth-child(even) 
{
    background-color: rgb(231, 114, 114);
    color: white;
}

.user-module-title
{
    padding-top: 0;
    margin-top: 0;
    margin-left: 1vw;
    margin-bottom: 1vw;
    font-weight: bold;
    color: rgb(223, 65, 65);
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.user-create-button
{
    border: 0px;
    background-color: rgb(223, 65, 65) !important;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: medium;
}

.user-create-button:hover
{
    border: 1px solid rgb(223, 65, 65);
    background-color: white;
    cursor: pointer;
}

.small_button
{
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
}

.small_button_inner
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.edit_button
{
    border: 1px solid rgb(223, 65, 65);
    color: rgb(223, 65, 65);
}

.delete_button
{
    background-color: rgb(223, 65, 65);
    color: white;
}


.modal-container
{
    border-radius: 5px;
    padding: 2vw;
    background-color: rgb(247, 244, 244);
}

.deployed-image-user
{
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5vw;
    margin-top: .5vw;
    box-shadow: 50px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.description-bow
{
    padding: .5vw;
    text-align: justify;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.inner-container
{
    background-color: rgb(240, 223, 223);;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    text-align: justify;
    padding: 2vw;
}

.row
{
    margin-right: auto;
    margin-left: auto;
}