.App {
 
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  min-height: 12vh;
  opacity: 60%;
}

.App-bodyback
{
  width: 100%;
  height: 100%;
  background-image: url("/public/1_nwpp_back.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.App-bodyback-overlay
{
  
  backdrop-filter: blur(3px);
}

.App-body-content
{
  background-color: white;
  height: 100%;
}